/* CSS for highlighting mismatch ranges */
.highlight-trop {
  border: 3px solid orange;
  background-color: rgba(255, 165, 0, 0.3);
  box-shadow: 0 0 5px orange;
}

.highlight-syntax {
  border: 3px solid blue;
  background-color: rgba(0, 0, 255, 0.3);
  box-shadow: 0 0 5px blue;
  z-index: 1;
}
