.verse-trop-syntax {font-style: italic; font-weight: bold;}
.verse-trop, .verse-syntax { cursor: pointer; }
.verse-trop {font-style: italic; }
.verse-syntax {font-weight: bold; }
.branch-end, .branch-start {padding: 5px 2px; margin: -5px 0; margin-right: 0.2em; cursor: pointer; display: inline-block;}

.syntax-part {color: green; margin-right: 0.2em;}
.trop-level-1 { color: #1f77b4; }
.trop-level-2 { color: #ff7f0e; }
.trop-level-3 { color: #2ca02c; }
.trop-level-4 { color: #d62728; }
.syntax-level-1 { color: #9467bd; }
.syntax-level-2 { color: #8c564b; }
.syntax-level-3 { color: #e377c2; }
.syntax-level-4 { color: #7f7f7f; }
.mismatch-pair { font-size: 1.2em; font-weight: bold; }
.highlight-pair { background-color: yellow; }

.highlight-trop-dim { background-color: gold; border: 1px solid black; opacity: 0.5; }
.highlight-trop-bright { background-color: gold; border: 1px solid black; opacity: 1; }
.highlight-syntax-dim { background-color: lightblue; border: 1px solid black; opacity: 0.5; }
.highlight-syntax-bright { background-color: lightblue; border: 1px solid black; opacity: 1; }
.highlight-trop-dim.highlight-syntax-dim,
.highlight-trop-bright.highlight-syntax-dim,
.highlight-trop-dim.highlight-syntax-bright,
.highlight-trop-bright.highlight-syntax-bright { background-color: #dda0dd; border: 1px solid black; opacity: 0.7; }
.highlight-pair-trop { background-color: gold !important; color: black; }
.highlight-pair-syntax { background-color: lightblue !important; color: black; }



table {border: 1px solid black; border-collapse: collapse; table-layout: auto; }
td {border: 1px solid black; padding: 5px; text-align: right; white-space: nowrap; 
	transition: background-color 0.3s ease, border 0.3s ease;
}
.mismatch_data {margin-bottom: 10px; font-weight: bold;}

